# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (optional; uncomment if you don't want to track VS Code configs)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.gradle/
**/android/app/*.apk
**/android/app/*.aar
**/android/build/

# iOS related
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner.build/
**/ios/Runner.xcworkspace/

# Web related
web/.dart_tool/
web/build/

# Windows related
windows/.dart_tool/
windows/build/
windows/ephemeral/

# MacOS related
macos/.dart_tool/
macos/build/
macos/Flutter/ephemeral/

# Linux related
linux/.dart_tool/
linux/build/
linux/Flutter/ephemeral/

# IDE-specific files
.idea/
*.iml

# Other
*.lock
*.tmp
*.log
*.swp
*.swo
Thumbs.db
